/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

header {
    border-bottom: #F9E109;    
    border-style: none none dashed none;
    padding: 1em 0 1em 0;
}

.flags {
    display: flex;
    justify-content: space-evenly;
}

.flags img {
    height: 100px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #F9E109;
    font-size: 84px;
    margin: 0;
}

mark {
    color: red;
    background: none;
}

h2 {
    font-family: 'IM Fell DW Pica', serif;
    color: #F9E109;
    font-size: 48px;
    margin: 1em 0;
}

p {
    font-family: 'IM Fell DW Pica', serif;
    color: white; 
    font-size: 32px;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    text-align: center;
    /* background: linear-gradient(-45deg, #221f1f, #161515, #262323, #3b3838);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite; */
    padding: 0 1em 0 1em;
    margin: 0;
}

/* .repeat_nuke {
    height: 2em;
    background-image: url("radioactive.svg");
    background-size: 2em;
    background-repeat: space;
    margin: 2em 0;
} */

html, body {
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container img, .transitions img {
    max-width: 800px;
}

.content, .transitions {
    margin: 0 10%;
}

.side_by_side {
    display: flex;
    justify-content: space-evenly;
}

.choice_text p {
    text-align: center;
}
.choice {
    font-size: 48px;
    text-decoration: italic;
    font-family: 'Bebas Neue', cursive;
    color: #F9E109;
    background: red;
    border-radius: 5px;
    padding: 5px 12px;
}

.choice:hover  {
    text-decoration: none;
} 

footer {
    margin: 1em auto 5em auto;
    border-top: #F9E109;    
    border-style: dashed none none none;
    padding: 1em 0 1em 0;   
}

footer p {
    font-size: 20px;
    text-align: center;
}


/* Index Styles */
#index .content img {
    max-height: 350px;
}

/* Study Styles */
#study .container img {
    max-width: 1200px;
}
#study .graph {
    max-height: 350px;
}
#study .tree {
    height: 800px;

}
