/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

header {
    /*border-bottom: #F9E109;    
    border-style: none none dashed none;*/
    padding: 1em 0 1em 0;
}

.flags {
    display: flex;
    justify-content: space-evenly;
}

.flags img {
    height: 150px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #F9E109;
    font-size: 120px;
    margin: 0;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #F9E109;
    font-size: 64px;
    margin: 0;
}

p {
    font-family: 'IM Fell DW Pica', serif;
    color: white; 
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    text-align: center;
    /*background: #262323;*/
    margin: 0;
}

.repeat_nuke {
    height: 2em;
    background-image: url("radioactive.svg");
    background-size: 2em;
    background-repeat: space;
    margin: 2em 0;
}

html, body {
    height: 100%;
}

.container {
    background: linear-gradient(-45deg, #1e1c1c, #262323, #514e4e, #7c7b7b);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 0 1em 0 1em;
    min-height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container img, .transitions img {
    max-width: 800px;
}

footer {
    margin: 1em auto 5em auto;
    /*border-top: #F9E109;    
    border-style: dashed none none none;*/
    padding: 1em 0 1em 0;
}

footer p {
    font-size: 20px;
}

/* Index Styles */

#index .choice {
    font-size: 40px;
    text-decoration: italic;
    font-family: 'Bebas Neue', cursive;
    color: red;
}