* {
	box-sizing: border-box;
}

body {
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrap {
	perspective-origin: 50% 50%;
}

.svg {
	stroke: #F9E109;
	position: fixed;
	bottom: -100%;
	transform-style: preserve-3d;
	height: 0em;
}

.svg:nth-child(1) {
	left: 57%;
	animation: raise1 19s linear infinite;
	animation-delay: -3s;
	transform: scale(0.5) rotate(304deg);
	z-index: -1;
	filter: blur(7px);
}

@keyframes raise1 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.5) rotate(193deg);
		height: 5em;
	}
}

.svg:nth-child(2) {
	left: 88%;
	animation: raise2 20s linear infinite;
	animation-delay: -4s;
	transform: scale(0.6) rotate(274deg);
	z-index: -1;
	filter: blur(6px);
}

@keyframes raise2 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.6) rotate(280deg);
		height: 5em;
	}
}

.svg:nth-child(3) {
	left: 4%;
	animation: raise3 21s linear infinite;
	animation-delay: 0s;
	transform: scale(0.5) rotate(287deg);
	z-index: -1;
	filter: blur(7px);
}

@keyframes raise3 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.5) rotate(324deg);
		height: 5em;
	}
}

.svg:nth-child(4) {
	left: 2%;
	animation: raise4 7s linear infinite;
	animation-delay: 0s;
	transform: scale(0.6) rotate(52deg);
	z-index: -1;
	filter: blur(6px);
}

@keyframes raise4 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.6) rotate(300deg);
		height: 5em;
	}
}

.svg:nth-child(5) {
	left: 62%;
	animation: raise5 19s linear infinite;
	animation-delay: 0s;
	transform: scale(0.8) rotate(339deg);
	z-index: -1;
	filter: blur(4px);
}

@keyframes raise5 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.8) rotate(299deg);
		height: 5em;
	}
}

.svg:nth-child(6) {
	left: 7%;
	animation: raise6 13s linear infinite;
	animation-delay: 0s;
	transform: scale(0.8) rotate(314deg);
	z-index: -1;
	filter: blur(4px);
}

@keyframes raise6 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.8) rotate(105deg);
		height: 5em;
	}
}

.svg:nth-child(7) {
	left: 85%;
	animation: raise7 11s linear infinite;
	animation-delay: -1s;
	transform: scale(0.8) rotate(297deg);
	z-index: -1;
	filter: blur(4px);
}

@keyframes raise7 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.8) rotate(82deg);
		height: 5em;
	}
}

.svg:nth-child(8) {
	left: 94%;
	animation: raise8 18s linear infinite;
	animation-delay: -4s;
	transform: scale(0.6) rotate(333deg);
	z-index: -1;
	filter: blur(6px);
}

@keyframes raise8 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.6) rotate(236deg);
		height: 5em;
	}
}

.svg:nth-child(9) {
	left: 27%;
	animation: raise9 19s linear infinite;
	animation-delay: -3s;
	transform: scale(0.7) rotate(334deg);
	z-index: -1;
	filter: blur(5px);
}

@keyframes raise9 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.7) rotate(4deg);
		height: 5em;
	}
}

.svg:nth-child(10) {
	left: 14%;
	animation: raise10 15s linear infinite;
	animation-delay: -3s;
	transform: scale(0.9) rotate(228deg);
	z-index: -1;
	filter: blur(3px);
}

@keyframes raise10 {
	from {
		height: 5em;
	}

	to {
		bottom: 150%;
		transform: scale(0.9) rotate(80deg);
		height: 5em;
	}
}